
 body {
  background-color: #A9DBB1;
}

img { border: border-style: double; #09B2B8; 5px 
   
}

 

	p { font-family: Arial, sans-serif; }

	h1 { font-family: Palatino; font-color: green; }

	h2 { font-family: font-family: "Courier"; font-color: pink; }

		p.fancy { border-style: solid;
			border-color: orange; 
			background-color: lightyellow; }