
 body {
  background-color: #A9DBB1;
  padding: 50px 50px 50px 50px; }

img.border { border: border-style: double;#09B2B8; 15px 
    padding: 50px 50px 50px 50px;}

 

	p { font-family: Arial, sans-serif; }

	h1 { font-family: Palatino; font-color: #3C733A; font-size: 48pt; }

	h2 { font-family: font-family: "Courier"; font-color: #254EBF; 
		font-size: 24pt; }

		p.fancy { border-style: solid;
			border-color: orange; 
			background-color: lightyellow; }