
 .img.dashed {border-style: dashed;  
	border-width: 5px;  
	margin: 15px 15px 15px 15px; 
	border-color: blue;}

	.p {font-family: Arial;}

	.h1 {font-family: Palatino; font-color: green;}
	.h2 {font-family: font-family: "Courier"; font-color: pink;}

		.p.class= "fancy" {p.solid border-style: solid;
			border-color: orange; 
			background-color: lightyellow;}